.genre-movies {
    display: flex;
    flex-direction: column;
    padding: 20px 60px;

    .heading{
      color: white;
      text-decoration: none;
    }
  }

  @media screen and (max-width:768px) {
    .genre-movies{
      padding: 10px 5px;

      .heading{
        font-size: medium;
      }
    }
  }