.footer{
    height: 100px;
    width: 100%;
    display: flex;
    background-color: #121212;
    align-items: center;
    justify-content: center;
    
    .comment{
        color: white;
        position:relative;
    }

}

@media screen and (max-width:768px) {
    .footer{
        height: 70px;

        .comment{
            font-size: medium;
        }
    }
}